@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.ttf');
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    background: #eaeaea;
}

/*corps de la page*/
.cv {
    max-width: 1160px;
    margin: auto;
    background: white;
}

/*header*/
.header {
  background: #1bb3b3;
  padding: 40px 0;
   color: #fff;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 30px;
  font-size: 14px;
}

.contact div {
  display: flex;
  align-items: center;
  flex: 0 0 calc(50% - 15px);
}

.contact i {
  color: inherit;
  margin-right: 8px;
  width: 18px;
  text-align: center;
}



.header-container {
  max-width: 1160px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px; 
}

.photo img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 4px solid #fff;
  object-fit: cover;
}

.photo img:hover{
    cursor: zoom-in;
}

.infos {
  color: #fff;
}

.infos h1 {
  margin: 0;
  font-size: 40px;
}

.infos h2 {
  margin: 5px 0 20px;
  font-weight: 300;
  font-weight: bold;
}

.contact {
  display: flex;
  gap: 15px;
  font-size: 14px;
}

.lol{ 
  margin-right: 15px;
}

/*enleèvement du soulignage des liens et couleur*/
.mail {
  text-decoration: none;
  color: #fff;
}

/*contenu*/
.content {
    display: flex;
}

.left {
    width: 30%;
    background: #f3f7f7;
    padding: 25px;
}

.right {
    width: 70%;
    padding: 25px;
}

h3 {
    color: #1ba7a8;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

/*compétences*/
.skill {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    font-weight: bold;
}

/*couleur des étoiles*/
.stars {
  color: #1bb3b3;
  font-size: 14px;
}

/*carrés bleus des rubriques "qualités et centres d'intérêts*/
.list {
  list-style: none;
  padding: 0;
}

.list li {
  position: relative;
  padding-left: 18px;
  margin-bottom: 8px;
  font-weight: bold;
}

.list li::before {
  content: "";
  width: 7px;
  height: 7px;
  background-color: #1bb3b3;
  position: absolute;
  left: 0;
  top: 7px;
}


/*profil*/
.profil {
    text-indent: 40px;
    text-align: justify;
}

/*items*/
.item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    transition: border-left 0.3s ease;
    transition: background-color 0.2s ease;
}

.item:hover {
    background-color: #e3e3e3;
    border-left: 5px solid #19a7aa; 
}

.colors {
    color: #1ba7a8;
}

/*footer*/
.footer {
    background: #1ba7a8;
    color: white;
    text-align: center;
    padding: 20px;
}

.socials img {
    width: 28px;
    margin: 0 10px;
    transition: opacity 0.3s;
}

a {
  text-decoration: none;
}
.socials img:hover {
    opacity: 0.6;
}