
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
h1 {
    font-family: "Lato",sans-serif;
}
@font-face {
    font-family: "Raleway";
    src: url("/assets/fonts/Raleway-Regular.woff") format("woff"),
         url("/assets/fonts/Raleway-Regular.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url("/assets/fonts/Raleway-Italic.woff") format("woff"),
         url("/assets/fonts/Raleway-Italic.ttf") format("truetype");
    font-style: italic;
}

@font-face {
    font-family: "Raleway";
    src: url("/assets/fonts/Raleway-Bold.woff") format("woff"),
         url("/assets/fonts/Raleway-Bold.ttf") format("truetype");
    font-style: normal;
}

p {
    font-family: "Raleway", sans-serif;
    font-style: italic;
}
